@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wrapper {
  @apply h-screen flex justify-center items-center;
}

.effect-wrapper {
  @apply text-center font-normal;
}

#typed {
  @apply font-bold text-blue-400;
}

.cursor {
  @apply inline-block bg-green-400;
  animation: blinker 800ms infinite;
}

.cursor.typing-true {
  animation: none;
}

@keyframes blinker {
  0% {
    background-color: #00aeff;
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: #00aeff;
  }
}