@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* zoom.css */
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.zoom-container {
  position: relative;
  overflow: hidden;
}

.zoom-container img {
  animation: zoomInOut 45s ease-in-out infinite;
}